$green: #74BF43;
$lightGreen: #6CB23E;
$red: #D74345;
$lightRed: #C43C3E;
$blue: #0095DD;
$lightBlue: #008ACB;
$darkBlue: #006B9D;
$highlightBlue: #73DAFB;
$teal: #6AA974;
$panelBackground: #FBFBFB;
$windowTitleBar: #222;
$white75: rgba(255, 255, 255, 0.75);
$yellow: #EDC200;
$transitionLong: 0.3s;
$transitionShort: 0.1s;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

hr {
  width: 100%;
  flex: 1;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.05);
}

small {
  font-size: 90%;
  opacity: 0.8;
}

label {
  font-size: 10px;
  color: #777;
  margin-top: 10px;
}

.link-button {
  padding: 4px 9px;
  font-size: 10px;
  font-weight: bold;
  color: $darkBlue;
  background: #EEE;
  border-radius: 2px;
  margin: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #FFF;
    background: $darkBlue;
  }
}

body {
  font-family: 'Lucida Grande', sans-serif;
  color: #1D1D1D;
  padding: 0 10%;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.component-wrapper {
  width: 90%;
  padding-bottom: 200px;
  padding-top: 135px;
  padding-bottom: 60px;
  display: flex;
}

header {
  position: fixed;
  border-bottom: 1px solid #DDD;
  padding: 20px 0 10px;
  background: #FFF;
  z-index: 1200;
  width: 75%;
  h1 {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    img {
    }
    small {
      color: #AAA;
      font-weight: 100;
      font-size: 80%;
    }
    .right {
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.SpinnerView {
  width: 100%;
  height: 70px;
  position: relative;
}

a {
  /*font-weight: bold;*/
  text-decoration: underline;
  color: $blue;
  cursor: pointer;
  &:hover {
    color: $darkBlue;
  }
}

h1, h2, h3 {
  padding-left: 1px;
  margin-bottom: 30px;
  font-family: Open Sans, sans-serif;
  color: #666;
  z-index: 10;
}


h3.center {
  text-align: center;
}

h5.align-right {
  text-align: right;
}

h5 {
  color: #888;
  font-size: 11px;
  margin: 10px 0;
}

.sharing {
  position: relative;
  font-size: 24px;
  left: 40px;
  top: 8px;
  height: 22px;
  color: #DDD;
  background-size: contain;

  &:hover {
    cursor: pointer;
  }
  &.hidden {
    width: 40px;
  }
  &.requested {
    background-image: url(images/sharing-requested.png);
    width: 49px;
  }
  &.enabled {
    background-image: url(images/sharing-enabled.png);
    width: 73px;
  }
  &.enabled-2 {
    background-image: url(images/sharing-enabled-2.png);
    width: 73px;
  }
  &.enabled-3 {
    background-image: url(images/sharing-enabled-3.png);
    width: 73px;
  }
}

.Toolbar {
  width: 348px;
  left: -50px;
  height: 37px;
  display: flex;
  top: -3px;
  position: absolute;
  .end {
    position: relative;
    left: 40px;
    top: 7px;
    height: 37px;
    width: 114px;
    background-image: url(images/toolbar-end.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: left $transitionLong;
  }
  .hidden + .end {
    left: 0px;
  }
}

.StateWrapper {
  h3 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    &.left {
      position: relative;
      left: -50px;
    }
    &.higher {
      position: relative;
      left: -50px;
      top: -20px;
      margin-bottom: 30px;
    }
  }
  .counter {
    opacity: 0.3;
  }
  display: inline-block;
  position: absolute;
  top: 184px;
  left: 461px;
  margin: 20px 50px 20px 50px;
}

.PanelWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DDD;
  width: 348px;
  top: 42px;
  background: #F5F5F5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: opacity $transitionLong;
  &:after {
    content: '';
    position: absolute;
    left: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA;
  }
  &:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -14px;
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 13px solid #DDD;
  }
}

.hidden {
  opacity: 0;
  z-index: -1;
}

.PanelGroup {
  overflow: hidden;
  width: 100%;
  &.moved .PanelGroupInner .Panel:first-child {
    opacity: 0.9;
  }
}

.PanelGroupInner {
  display: flex;
  width: 100%;
}

.Panel {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $panelBackground;
  transition: opacity $transitionLong ease-in-out;
  &.Contacts {
    background: $panelBackground;
    .List {
      background: $panelBackground;
    }
  }
}

.FullImage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 348px;
}

.FullImage.full-screen {
  background-image: url('images/full-screen.png');
  width: 1024px;
  height: 640px;
}
.FullImage.new-sharing-indicator {
  background-image: url('images/new-sharing-indicator.png');
  width: 565px;
  height: 357px;
}
.FullImage.new-doorhanger {
  background-image: url('images/new-doorhanger.png');
  height: 166px;
}
.FullImage.after-sharing {
  background-image: url('images/after-sharing.png');
  height: 197px;
}
.FullImage.additional-permissions {
  background-image: url('images/additional-permissions.png');
  height: 250px;
}
.FullImage.multiple-sites {
  background-image: url('images/multiple-sites.png');
  height: 206px;
}
.FullImage.screensharing-dropdown {
  background-image: url('images/screensharing-dropdown.png');
  height: 250px;
}
.FullImage.global-doorhanger-top {
  background-image: url('images/global-doorhanger-top.png');
  height: 78px;
}
.FullImage.global-doorhanger-middle {
  background-image: url('images/global-doorhanger-middle.png');
  height: 37px;
}
.FullImage.global-doorhanger-bottom {
  background-image: url('images/global-doorhanger-bottom.png');
  height: 76px;
}
.FullImage.global-doorhanger-single {
  background-image: url('images/global-doorhanger-single.png');
  height:  268px;
}

.Header {
  padding: 20px 10px;
  padding-bottom: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Footer {
  padding: 5px 10px;
  font-size: 12px;
  border-top: 1px solid #D1D1D1;
  background: #EAEAEA;
  color: #7F7F7F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  flex-direction: row;
  .Button {
    height: 26px;
    padding-left: 7px;
    margin: 0px 2px 0px 50%;
    background: #AAA;
    .chevron {
      border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  .center {
    color: #222;
    width: 100%;
    display: flex;
    align-items: center;
    .username:hover {
      color: $lightBlue;
    }
  }
  .subtle {
    padding-right: 10px;
    margin-left: auto;
    font-size: 11px;
    color: #999;
    font-weight: normal;
  }
  .Dropdown {
    position: absolute;
    left: 15px;
    top: 27px;
    right: auto;
    li {
      white-space: nowrap;
    }
    li i {
      color: $lightGreen;
      &.fa-circle-o {
        color: #888;
      }
    }
  }
  .userDetails {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 14px;
  }
  div {
    flex: 15;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    position: relative;
    .statusWrapper {
      border: 1px solid transparent;
      padding: 2px 4px;
      margin-left: -4px;
      margin-top: 2px;
      &:hover {
        border: 1px solid #DDD;
        background: #F1F1F1;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .status-text {
      font-weight: normal;
      font-size: 10px;
      color: #888;
    }
    .status-icon {
      padding-left: 5px;
      flex: 0 0 18px;
      cursor: pointer;
      i {
        color: $lightGreen;
        font-size: 9px;
        &.fa-circle-o {
          color: #888;
        }
      }
    }
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
  div.action {
    border-left: 1px solid #CCC;
    padding-left: 10px;
    justify-content: center;
    flex: 1;
    cursor: pointer;
    i.active {
      color: $blue;
    }
    .Dropdown {
      right: initial;
      left: 29px;
      li a {
        color: #7F7F7F;
        font-weight: normal;
      }
      li i {
        color: #333;
      }
    }
  }
  &:hover {
  }
  input {
    margin: 0;
    border: none;
    flex: 0 0 75%;
    height: 100%;
    padding: 4px 10px;
  }
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
  float: right;
}

.List {
  display: flex;
  flex-direction: column;
  transition: opacity $transitionLong ease-in-out;
  &.faded {
    opacity: 0.3;
  }
  .scrollable {
    // max-height: 300px;
    // overflow: scroll;
  }
  h3 {
    margin: 0;
    border-bottom: none;
    border-top: 1px solid #CCC;
  }
}

.Button {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 13px 5px;
  margin: 133px 0 0 63px;
  color: #333333;
  background: #FBFBFB;
  border: 1px solid #C1C1C1;
  height: 8px;
  font-size: 12px;
  line-height: 0px;
  border-radius: 2px;
  white-space: nowrap;
  .fa {
    color: #FFF;
    padding: 0 10px;
  }
  .chevron {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    line-height: 15px;
  }
}

.ButtonGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  .Button {
    flex: 1;
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.Button {
  &.action {
    background: $green;
    border: none;
    color: #FFF;
    &:hover {
      background: $lightGreen;
    }
    &.cancel {
      border: none;
      background: $red;
      border-color: $lightRed;
    }
  }
  &.cancel {
    border: none;
    background: $red;
    color: #FFF;
  }
  &.emphasis {
    background: $blue;
    color: #FFF;
    border: none;
    &:hover {
      background: $lightBlue;
    }
  }
  &.action.cancel:hover, &.cancel:hover {
    background: $lightRed;
    color: #FFF;
  }
  &.default {
    background: #FBFBFB;
    color: #333;
    border: 1px solid #C1C1C1;
    &:hover {
      background: #EBEBEB;
    }
  }
  &.default-active {
    background: #CCC;
    color: #111;
  }
}

.SliderButton {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
  .Button {
    z-index: 10;
  }
  .drawer {
    display: flex;
    align-items: stretch;
    transition: all $transitionShort ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.active .drawer {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  .inputButton {
    padding: 13px 10px 0;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    background: $blue;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    flex: 1;
  }
  .textBox {
    margin: 0;
    opacity: 1;
    flex: 2;
    outline: none;
    background: #FFF;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    height: 24px;
    padding: 13px 10px 0;
    border: 1px solid #CCC;
    border-right: none;
    color: #111;
  }
}

.button-animation-enter {
  opacity: 0.1;
  transition: opacity $transitionShort;
}

.button-animation-enter-active {
  opacity: 1;
}

.button-animation-leave {
  opacity: 1;
  transition: opacity $transitionShort;
}

.button-animation-leave-active {
  opacity: 0;
}

input {
  outline: none;
  border-radius: 2px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  border: 1px solid #CCC;
  margin: 5px 0;
  &.error {
    border-color: $red;
    box-shadow: 0 0 4px $lightRed;
  }
  &[type=range] {
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #F5F5F5;
    outline: 1px solid #F5F5F5;
    outline-offset: -1px;
  }
}

.Dropdown {
  position: absolute;
  right: 10px;
  top: 40%;
  background: #FDFDFD;
  padding: 5px;
  z-index: 1000;
  border-radius: 2px;
  display: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  li {
    margin: 3px 0px;
    padding: 4px 6px;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      border: 1px solid #CCC;
      background: #EEE;
    }
    .fa {
      width: 18px;
      margin-right: 8px;
      color: #777;
    }
  }
}

.List:first-child {
  border-top: none;
}

.Header {
  padding: 5px 10px;
  color: #888;
  margin: 0;
  border-bottom: 1px solid #CCC;
  background: #EEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 24px;
  .Button {
    margin: 0;
    padding: 9px 10px;
    font-weight: normal;
    // background: transparent;
    // border: 1px solid #CCC;
    // color: #AAA;
    margin-left: auto;
    &:hover {
      background: #FAFAFA;
    };
  }
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(359deg); }
}

@-webkit-keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(359deg); }
}

.Loading {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('images/loading.png') no-repeat;
  &.failed {
    background: url('images/failed.png') no-repeat;
    background-size: 24px;
    -webkit-animation: none;
    animation: none;
  }
  background-size: 24px;
  margin: 5px;
  -webkit-animation: rotate 1s infinite;
  animation: rotate 1s infinite;
}

/*
Tipr 1.0.1
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
 */

.tipr_content {
  font: 10px / 1.7 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  font-weight: bold;
  background-color: #222;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 60px;
  max-width: 300px;
  white-space: nowrap;
  text-align: center;
}

.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000;
  border-radius: 3px;
}

.tipr_container_top {
  display: none;
  position: absolute;
  margin-top: -50px;
  z-index: 1000;
  border-radius: 3px;
  background: transparent;
}

.tipr_point_top, .tipr_point_bottom {
  position: relative;
  /*border: 1px solid #dcdcdc;*/
}

.tipr_point_top {
  &:after, &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    top: 100%;
    content: "";
    height: 0;
    width: 0;
  }
  &:after {
    border-top-color: #222;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }
  &:before {
    /*border-top-color: #dcdcdc;*/
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
}

.tipr_point_bottom {
  &:after, &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
  }
  &:after {
    border-bottom-color: #222;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }
  &:before {
    /*border-bottom-color: #dcdcdc;*/
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
}
